<h1>Listing yandex_moneys</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Customerid</th>
      <th>Sum</th>
      <th>Gems</th>
      <th>Invoiceid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yandex_moneys.each do |yandex_money| %>
      <tr>
        <td><%= yandex_money.user %></td>
        <td><%= yandex_money.customerid %></td>
        <td><%= yandex_money.sum %></td>
        <td><%= yandex_money.gems %></td>
        <td><%= yandex_money.invoiceid %></td>
        <td><%= link_to 'Show', yandex_money %></td>
        <td><%= link_to 'Edit', edit_yandex_money_path(yandex_money) %></td>
        <td><%= link_to 'Destroy', yandex_money, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yandex money', new_yandex_money_path %>
