<div id='footer'>
	<ul id='footer_menu'>
    <li><%= link_to 'Защищённость',             root_path, id: :protection    %></li>
    <li><%= link_to 'Безопасность',             root_path, id: :security      %></li>
    <li><%= link_to 'Оферта',                   root_path, id: :offer         %></li>
    <li><%= link_to 'Соглашение о пользовании', root_path, id: :useragreement %></li>
    <li><%= link_to 'О компании',               root_path, id: :about_company %></li>
    <li><%= link_to 'Контакты',                 root_path, id: :contacts      %></li>
    <li><%= link_to 'Наша группа ВКонтакте', 'http://vk.com/sharanavti', id: :vk_group %></li>
	</ul>
	<div id='copyright'>
		© 2013 Шаранавты <br/>
		© 2008-2013 Новые Медиа
	</div>
</div>