#footer
  %ul#footer_menu
    %li= link_to 'Защищённость',                 protection_path, id: :protection
    %li= link_to 'Безопасность',                   security_path, id: :security
    %li= link_to 'Оферта',                            offer_path, id: :offer
    %li= link_to 'Соглашение о пользовании', user_agreement_path, id: :useragreement
    %li= link_to 'О компании',                about_company_path, id: :about_company
    %li= link_to 'Контакты',                           root_path, id: :contacts
    %li= link_to 'Наша группа ВКонтакте', 'http://vk.com/sharanavti', id: :vk_group
  #copyright
    © 2013 Шаранавты
    %br
    © 2008-2013 Новые Медиа