<!DOCTYPE html>
<html>
<head>
	<title>Шаранавты. Герои космоса</title>
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
    <%= render "header" %>

	  <%= yield %>

	  <%= render "footer" %>
  </div>
  <%= render "analytics" %>
</body>
</html>